# Helm
charts/
Chart.lock
*.tgz

# Secrets
*.key
*.pem
secrets/

# OS
.DS_Store

# IDE
.idea/
.vscode/

# Binaries
cli/cluster-bootstrap

# git-crypt symmetric key (keep out of repo)
git-crypt-key
.env

# MkDocs
site/
venv

# Node
node_modules/